.body-container{
    margin-left: 244px;
    margin-right: 255px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    overflow: hidden;
    overflow-y: auto;
}

.book-container{
    width: 400px;
    height: 207px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-container{
    display: flex;
    flex-direction: column;
}